.postal-info{
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container{
  max-width: 400px;
}

h1 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555555;
  text-align: center;
}

.pincode-input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.search-button {
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.postal-info-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.postal-info-item {
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postal-info-item strong {
  color: black;
}
